---
layout: layouts/category
tags:
  - myCategories
pagination:
  alias: category
  data: categories
  size: 1
  addAllPagesToCollections: true
permalink: category/{{category.content.main.slug.current}}/index.html
---

