---
title: Contribution Guidelines
layout: layouts/base.njk
---

<div class='contributions f fw jcb'>
  <div class='split__sticky-image oh ac p15 rel f jcc aic x'>
    <h1 class='rel cw z1'>Contribution<br />guidelines</h1>
    <img class='abs x y top obj-fit left' src='/images/contribution.jpg' alt='contribution guidelines' />
  </div>
  <div class='contributions__text p15'>
    <div class='inner container--m'>
      <div class='contributions__text-disc ais jcs'>
        <div class='rel'>
          {% include 'waste-not-icon.njk' %}
        </div>
        <p class='serif s20'>Waste Not is a free website. We are run on GitHub and audited by the community. For our volunteers to fact-check, we require that you detail all the information a listing requires to submit. Please take note of all information below before submitting.</p>
      </div>
      <div class='al my1'>
        <div class='contributions__toggle js-faq x'>
          <div class='contributions__toggle-title'>
            <h2 class='s40'>What qualifies as sustainable?</h2>
          </div>
          <div class='contributions__toggle-content'>
            <p class='serif s20'>A material is approved on our index if it is biodegradable in a measurable amount of time, made of renewed materials that would otherwise be waste, or both bio-based and recyclable. We do not accept items that are just recyclable or non-plastic materials made from petrochemicals.</p>
          </div>
        </div>

        <div class='contributions__toggle js-faq x'>
          <div class='contributions__toggle-title'>
            <h2 class='s40'>How tags work</h2>
          </div>
          <div class='contributions__toggle-content'>
            <p class='serif s20'>Tags are a helpful way for someone to find out helpful, high-level info quickly. Please take care to confirm on a listing’s website before you tag.</p>
            <p class='serif s20 underline'>For the ordering process with the manufacturer:</p>
            <div class='ba p15 mb1 bcw'>
              <p class='serif s18 p0 m0'><span class='italic'>Customizable</span> means they can alter to your details like colors, logo, or shape.</p>
            </div>
            <div class='ba p15 mb1 bcw'>
              <p class='serif s18 p0 m0'><span class='italic'>Drop ship options</span> means they have items you can order on the phone or website for immediate delivery.</p>
            </div>
            <div class='ba p15 mb1 bcw'>
              <p class='serif s18 p0 m0'><span class='italic'>Range of finishes</span> means that the item comes in multiple materials, colors, surface treatments or other cosmetic or content options.</p>
            </div>
            <p class='serif s20 underline'>For the manufacturing proces:</p>
            <p class='serif s20'>We cannot visit each manufacturer and guarantee what they say on their website, so you’ll see ‘claims’ before any environmental tags related to the manufacturing process.</p>
            <div class='ba p15 mb1 bcw'>
              <p class='serif s18 p0 m0'><span class='italic'>Claims low water usage</span> means they report reduced water usage in the process to create the item.</p>
            </div>
            <div class='ba p15 mb1 bcw'>
              <p class='serif s18 p0 m0'><span class='italic'>Claims closed loop</span> means that they report that they replenish the resources that they are using to create the object.</p>
            </div>
            <div class='ba p15 mb1 bcw'>
              <p class='serif s18 p0 m0'><span class='italic'>Claims renewable resource</span> means that they report to not participate in deforestation or depletion of a resource. This sometimes does not take into account what the crop or material does to the land.</p>
            </div>
            <div class='ba p15 mb1 bcw'>
              <p class='serif s18 p0 m0'><span class='italic'>Claims lower greenhouse gas emissions</span> means that the company claims to have reduced their carbon footprint compara</p>
            </div>
            
          </div>
        </div>

        <div class='contributions__toggle js-faq x'>
          <div class='contributions__toggle-title mt1 pt1'>
            <h2 class='s40'>High, low and mixed minumums</h2>
          </div>
          <div class='contributions__toggle-content'>
            <p class='serif s20'>We are working to define minimums more specifically across industries. The fashion industry has been the most difficult, so we have had to disable this option for now until we can find an easier methodology. For the time being, our feasable guidelines are:</p>
            <div class='ba p15 mb1 bcw'>
              <p class='serif s18 p0 m0'><span class='italic'>High minimums</span> are over $10,000 units or above.</p>
            </div>
            <div class='ba p15 mb1 bcw'>
              <p class='serif s18 p0 m0'><span class='italic'>Mixed minimums</span> are below 10,000 units or vary for custom orders.</p>
            </div>
            <div class='ba p15 bcw'>
              <p class='serif s18 p0 m0'><span class='italic'>Low minimums</span> are below 10 units.</p>
            </div>
          </div>
        </div>

        <div class='contributions__toggle js-faq x'>
          <div class='contributions__toggle-title mt1 pt1'>
            <h2 class='s40'>I don't know the info</h2>
          </div>
          <div class='contributions__toggle-content'>
            <p class='serif s20'>Don’t guess. We’ve added a notes section for you to let us know, but ideally you could do the outreach yourself to the company, ask the questions, and then submit. We’re volunteer-based and appreciate your time.</p>
          </div>
        </div>

        <div class='contributions__toggle js-faq x'>
          <div class='contributions__toggle-title'>
            <h2 class='s40'>A supplier makes wasteful items</h2>
          </div>
          <div class='contributions__toggle-content'>
            <p class='serif s20'>Some suppliers have ecological options in a larger offering, which may not be earth-friendly. For each supplier, we approve listings on a product-by-product basis. A supplier on Waste Not is only listed if they have an item that meets our criteria. Eventually, we hope to be able to specially endorse a supplier’s enviornmental practices based on the totality of their products and the quality of their manufacturing.</p>
          </div>
        </div>

        <div class='contributions__toggle js-faq x'>
          <div class='contributions__toggle-title'>
            <h2 class='s40'>These listings still generate waste</h2>
          </div>
          <div class='contributions__toggle-content'>
            <p class='serif s20'>That’s true. It’s our belief that zero waste is a very difficult, costly and long road for busineses. We encourage them all to hatch that plan but in the meantime, reduce what they can: immediately. If we all reduce at scale, we can help slow down the problem.</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
