---
title:  Waste Not
subtitle: make that better world
layout: layouts/base.njk
---

<div class='hero bb f jcc ais rel'>
  <div class='outer p1 rel hero__inner z1'>
    <div class='container ac mxa container--l'>
      <h1 class='cg'>Sustainability. Searchability.</h1>
      <p class='s30 serif container--m mxa'> Waste Not is a simple way to search an open-source database of sustainable suppliers. Find better:</p>
    </div>
  </div>
  <img class='hero__image y block abs top x left' src='images/h-plastic-items.jpg' />
</div>

<div class='split f jcb fw aic'>
  <div class='x c50 ac split__text f jcc aic'>
    <div class='p15 split__text-inner mxa'>
      <p class='s40 bold'>Doing better is the whole world’s business. We’re making it easier to make <span class='cg'>better choices</span> for commerce. From packaging to interiors, we believe <span class='cg'>sustainability</span> shouldn’t be a trade secret.</p>
    </div>
  </div>
  <img class='block x c50' src='images/h-no-thanks.jpg' />
</div>