---
layout: layouts/listing
tags:
  - myListings
pagination:
  alias: listing
  data: listings
  size: 1
  addAllPagesToCollections: true
permalink: listing/{{listing.content.main.slug.current}}/index.html
---

