---
layout: layouts/manufacturer
tags:
  - myManufactures
pagination:
  alias: manufacturer
  data: manufacturers
  size: 1
  addAllPagesToCollections: true
permalink: manufacturers/{{manufacturer.content.main.slug.current}}/index.html
---

