---
title: Mission
layout: layouts/base.njk
---

<div class='split__wrapper'>
  <div class='f jcb aist fw split__text-mish jcrr'>
    <div class='c50'>
      <img class='block x' src='/images/mission-hero.jpg' alt='no thanks to plastic' />
    </div>
    <div class='split__text p1 f jcb fdc x c50'>
      <div class='split__text-s'>
        <h2 class=''>Change is a chain reaction. We’re starting at the top.</h2>
      </div>
      <div class='split__text-s'>
        <p class='s24 serif'>As individuals we can waste less by shopping responsibly. As businesses and the people informing decisions made in commerce, we can reduce that waste at much larger scales. Waste Not’s mission is to help reduce at the scale of business so we can make an even bigger impact, together.</p>
      </div>
    </div>
  </div>
</div>


<div class='split__wrapper'>
  <div class='f jcb aist fw split__text-mish jcrr'>
    <div class='c50'>
      <img class='block ma split__text-illy x p15' src='/images/mission-emissions.png' alt='no thanks to plastic' />
    </div>
    <div class='split__text p1 f jcb fdc x c50'>
      <div class='split__text-s'>
        <h2 class=''>Better sources should be open source.</h2>
      </div>
      <div class='split__text-s'>
        <p class='s24 serif'>Our planet demands a better supply: These sources shouldn’t be a trade secret. Waste Not originated from a list of resources compiled by brand builder & designer Michelle Mattar. Now public and built to grow so we can all audit and share great sources.</p>
      </div>
    </div>
  </div>
</div>

<div class=''>
  <img class='block x' src='/images/mission-trash.jpg' alt='no thanks to plastic' />
</div>

<div class='beliefs bt bcw'>
  <div class='outer p1 ac bb'>
    <h3 class='s40'>The beliefs we're built on</h3>
  </div>
  <div class='f jcb aist fw'>
    <div class='x c33 al p15 bb beliefs__single'>
      <div class='mxa'>
        <img src='/images/litte-steps.png' alt='little steps' />
        <p class='serif'>Being truly zero waste is costly and difficult. We believe in hatching a big plan, but taking immediate little steps as you can: right now. One switch can make a world of difference.</p>
      </div>
    </div>
    <div class='x c33 al p15 bb beliefs__single'>
      <div class='mxa'>
        <img src='/images/open-source.png' alt='open source' />
        <p class='serif'>Our entire repository is on GitHub. You can learn from it, add new features, or help us audit and approve listings. Not on GitHub? You can still help: click the Open Source symbol on listings to report an issue –– we’ll send it there.</p>
      </div>
    </div>
    <div class='x c33 al p15 bb beliefs__single'>
      <div class='mxa'>
        <img src='/images/waste-not.png' alt='open source' />
        <p class='serif'>The end goal is to empower brands and consumers alike to waste not and want better. None of us are perfect. All of us can be better. Our planet demands a better supply, and Waste Not is a small step in making it easier.</p>
      </div>
    </div>
  </div>
</div>

<div class='split__wrapper'>
  <div class='f jcb aist fw split__text-mish jcrr'>
    <div class='c50'>
      <img class='block x' src='/images/mission-fish.jpg' alt='no thanks to plastic' />
    </div>
    <div class='split__text p1 f jcb fdc x c50'>
      <div class='split__text-s'>
        <h2 class=''>Q: How do we slow down the problem?</h2>
      </div>
      <div class='split__text-s'>
        <h2 class=''>A: Together.</h2>
        <p class='serif s20'>Sustainability: now a priority. While we keep wasting: things compound, damage gets greater –– and our environment and selves are hurt in the process. Commerce needs a considerable cleanup: take action.</p>
      </div>
    </div>
  </div>
</div>

<div class='split__wrapper'>
  <div class='outer p1 ac container--m pym mxa'>
    <h3>Environmentally Complimentary</h3>
    <p class='serif s20'>Reach out and reimagine your footprint with us. We’re looking for partners to track and tell the story of reducing at scale. We’d love to hear from you: hello@wastenot.world</p>
  </div>
</div>