---
title: Mission
layout: layouts/base.njk
---

<div class='bb800'>
  <div class='f jcb aist fw split__text-mish jcrr'>
    <div class='c50'>
      <img class='block x' src='/images/mission-hero.jpg' alt='no thanks to plastic' />
    </div>
    <div class='split__text p1 al f jcb fdc x c50'>
      <div class='split__text-s'>
        <h2 class=''>Change is a chain reaction. We’re starting at the top.</h2>
      </div>
      <div class='split__text-s'>
        <p class='s24 serif'>As individuals we can waste less by shopping responsibly. As businesses and the people informing decisions made in commerce, we can reduce that waste at much larger scales. Waste Not’s mission is to help reduce at the scale of business so we can make an even bigger impact, together.</p>
      </div>
    </div>
  </div>
</div>


<div class='bb800'>
  <div class='f jcb aist fw split__text-mish jcrr'>
    <div class='c50'>
      <img class='block ma split__text-illy x p15' src='/images/mission-emissions.png' alt='no thanks to plastic' />
    </div>
    <div class='split__text p1 f jcb fdc x al c50'>
      <div class='split__text-s'>
        <h2 class=''>Better sources should be open source.</h2>
      </div>
      <div class='split__text-s'>
        <p class='s24 serif'>Our planet demands a better supply: These sources shouldn’t be a trade secret. Waste Not originated from a list of resources compiled by brand builder & designer Michelle Mattar. Now public and built to grow so we can all audit and share great sources.</p>
      </div>
    </div>
  </div>
</div>

<div class='bb800 rel' data-component='criteria'>
  <div class='f jcb aist fw split__text-mish'>
    <div class='c50 split__text f jcc ais p1 pm2 pym al'>
      <div class='split__text-inner mxa'>
        <h2 class='mb1'>Meet our criteria</h2>
        <ul class='pt1 mt1'>
          <li>
            <h3 class='s28 cg mb0 pb0'>Measurably biodegradable</h3>
            <p>In the world of sustainability, biodegradable is a tricky term. We do our best to check sources to make sure biodegradable means within 3 years or less in normal landfill conditions.</p>
          </li>
          <li>
            <h3 class='s28 cg mb0 pb0'>Compostable & home compostable</h3>
            <p>Composting is a faster process, but only under the right conditions². Some things need an industrial compost to break down. Because of that, we only list industrially compostable products that are also biodegradable.</p>
          </li>
          <li>
            <h3 class='s28 cg mb0 pb0'>Renewed and recyclable</h3>
            <p>This mean post-consumer waste or waste from another source that gets upcycled into something new, and can then be recycled. If it’s just renewable but the loop ends there: it doesn’t make the list.</p>
          </li>
          <li>
            <h3 class='s28 cg mb0 pb0'>Dissolvable</h3>
            <p>While we don’t recommend companies to encourage all of their customers to dissolve products or packaging themselves because of drought climates, dissolvable usually means it degrades. We check that.</p>
          </li>
        </ul>
      </div>
    </div>

    <div class='c50 split__text f jcc ais rel p1 pm2 pym al'>
      <div class='split__text-inner rel mxa'>
        <div class='mission__guarantee abs right p15 top'>
          <button class='button caps button--clear js-guarentee'>
            <span>What we can't Guarantee</span>
          </button>
        </div>
        <h2 class='mb1'>&nbsp;</h2>
        <ul class='pt1 mt1'>
          <li class='strike'>
            <h3 class='s28 cb strike mb0 pb0'>Bio-based only</h3>
            <p>Most bioplastics need high temperature composting facilities to break down. As a result they often end up in landfills where, deprived of oxygen, they may release methane: a greenhouse gas 23x more potent than carbon dioxide.²</p>
          </li>
          <li class='strike'>
            <h3 class='s28 cb strike mb0 pb0'>Recyclable only</h3>
            <p>The U.S. recycling rate is only 32% according to the 2020 State of Curbside Recycling Report.² Things that are recyclable doesn’t mean they get recycled. Globally, only 9% of plastic gets recycled². Recycling isn’t the answer.</p>
          </li>
          <li class='strike'>
            <h3 class='s28 cb strike mb0 pb0'>Renewed only</h3>
            <p>Upcycling is only a solution if what it yields is permanent and non-disposable. For things that get made and replaced, the loop should not end. If it’s made of waste and stops there, it’s better but not good enough.</p>
          </li>
          <li class='strike'>
            <h3 class='s28 cb strike mb0 pb0'>Harmful alternatives</h3>
            <p>We do our best to research a product’s resources, lifecycle, manufacturing impact and make sure that alternative materials are not just alternative: but better. This isn’t easy work and we’re always auditing and improving.</p>
          </li>
        </ul>
        <p class='serif'>Sources: <a href='' class='cg underline'>1</a>, <a href='' class='cg underline'>2</a></p>
      </div>
    </div>
  </div>
  <div class='abs bottom mission__guarentee x bcg'>
    <div class='f al jcb ais p15 mxa x cw fw'>
      <div class='x c30'>
        <p class='serif s28'>
          In our listings you’ll find tags that say things like “Claims closed loop” or “Claims renewable energy”. We list these as claims becasue we cannot confirm these parts of the manufacturing process without site visits or certifications.
        </p>
      </div>
      <div class='c60 f jcb fw ais'>
        <div class='x c50'>
          <ul class='my1'>
            <li class='s28'>Zero waste</li>
            <li class='s28'>Low emissions</li>
            <li class='s28'>Renewable energy</li>
            <li class='s28'>Ethically produced</li>
          </ul>
        </div>
        <div class='x c50'>
          <ul class='my1'>
            <li class='s28'>Carbon neutrality</li>
            <li class='s28'>Low water usage</li>
            <li class='s28'>Closed loop</li>
            <li class='s28'>Renewable natural energy</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class=''>
  <img class='block x' src='/images/mission-trash.jpg' alt='no thanks to plastic' />
</div>

<div class='beliefs bt bcw'>
  <div class='outer p1 ac bb'>
    <h3 class='s40'>The beliefs we're built on</h3>
  </div>
  <div class='f jcb aist fw'>
    <div class='x c33 al p15 bb beliefs__single'>
      <div class='mxa'>
        <img src='/images/litte-steps.png' alt='little steps' />
        <p class='serif'>Being truly zero waste is costly and difficult. We believe in hatching a big plan, but taking immediate little steps as you can: right now. One switch can make a world of difference.</p>
      </div>
    </div>
    <div class='x c33 al p15 bb beliefs__single'>
      <div class='mxa'>
        <img src='/images/open-source.png' alt='open source' />
        <p class='serif'>Our entire repository is on GitHub. You can learn from it, add new features, or help us audit and approve listings. Not on GitHub? You can still help: click the Open Source symbol on listings to report an issue –– we’ll send it there.</p>
      </div>
    </div>
    <div class='x c33 al p15 bb beliefs__single'>
      <div class='mxa'>
        <img src='/images/waste-not.png' alt='open source' />
        <p class='serif'>The end goal is to empower brands and consumers alike to waste not and want better. None of us are perfect. All of us can be better. Our planet demands a better supply, and Waste Not is a small step in making it easier.</p>
      </div>
    </div>
  </div>
</div>

<div class='pym bb800 pyl oh x'>
  <div class='outer mission__better-wrapper '>
    <div class='container container--l rel ac'>
      <h3 class='s40 my1 py1 mxa'>Always working our way to better</h3>
      <img src='/images/waste-computer.png' alt='computer' class='abs z1 mission__better-computer top right' />
    </div>
    <div class='container--w mxa'>
      <div class='f jcb aist ba mission__better-block fw'>
        <div class='bcb cw c50 p1 f jcc aic mission__better-img x'>
          <img class=' mxa' src='/images/mission-ascii-house.png' alt='house ascii' />
        </div>
        <div class='bcw p1 c50 f jcs mission__better-text aic'>
          <div>
            <h4 class='s28 mb1'>Open source and open plans</h4>
            <p>We put our best foot foward to share these sources but we have more ideas. We’ve laid our plans out and are open source on Github, so you can explore anytime or even volunteer with us to help build new features.</p>
            <a href='/listings' class='button ac mt1 caps'>See our plans</a>
          </div>
        </div>
      </div>
      <div class='f jcb aist ba mission__better-block fw'>
        <div class='bclg cw c50 p1 f jcc aic mission__better-img x'>
          <img class=' mxa' src='/images/mission-ascii-flowers.png' alt='house ascii' />
        </div>
        <div class='bcw p1 c50 f jcs mission__better-text aic'>
          <div>
            <h4 class='s28 mb1'>Reducing our impact</h4>
            <p>Websites can Waste Not, too. From using dithered images to system fonts, to being careful about when we’re calling and fetching data: see how we’re tracking and measuring our own footprint.</p>
            <a href='/listings' class='button ac mt1 caps'>Read all about it</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='bb800'>
  <div class='f jcb aist fw split__text-mish jcrr'>
    <div class='c50'>
      <img class='block x' src='/images/mission-fish.jpg' alt='no thanks to plastic' />
    </div>
    <div class='split__text p1 f jcb fdc x al c50'>
      <div class='split__text-s mb1 pb1'>
        <h2 class=''><span class='cg'>Q:</span> How do we slow down the problem?</h2>
      </div>
      <div class='split__text-s'>
        <h2 class=''><span class='cg'>A:</span> Together.</h2>
        <p class='serif s20'>Sustainability: now a priority. While we keep wasting: things compound, damage gets greater –– and our environment and selves are hurt in the process. Commerce needs a considerable cleanup: take action.</p>
      </div>
    </div>
  </div>
</div>

<div class='bb800'>
  <div class='outer p1 ac container--m pym mxa'>
    <h3>Environmentally Complimentary</h3>
    <p class='serif s20'>Reach out and reimagine your footprint with us. We’re looking for partners to track and tell the story of reducing at scale. We’d love to hear from you: hello@wastenot.world</p>
  </div>
</div>

<div class='bb800 rel pym'>
  <div class='outer p1 ac container--m pym mxa rel z1 cw'>
    <h3 class='h1 mb05 pb0'>Get resourceful about your sources</h3>
    <a href="" class="button caps">Browse our Listings</a>
  </div>
  <img class='block abs y x top left' src='/images/mission-straws.jpg' alt='no thanks to plastic' />
</div>