---
layout: layouts/project
tags:
  - myProjects
pagination:
  alias: project
  data: projects
  size: 1
  addAllPagesToCollections: true
permalink: projects/{{project.content.main.slug.current}}/index.htm
---

