---
layout: layouts/supplier
tags:
  - mySuppliers
pagination:
  alias: supplier
  data: suppliers
  size: 1
  addAllPagesToCollections: true
permalink: supplier/{{supplier.content.main.slug.current}}/index.html
---

