---
title: Mission
layout: layouts/base.njk
---


<div class='bb800 bb rel pym'>
  <div class='outer p1 ac container--l pym mxa rel z1 cw'>
    <h3 class='h1 mb05 pb0'>Calling in reinforcements</h3>
    <p class='s28 container--m mxa serif'>You’re currently experiencing Waste Not Version 1.0, which was built and runs for free. This is where we lay out our plans so you can join in.</p>
  </div>
  <picture>
    <source type='image/webp' srcset='/images/version-hero.webp'>
    <img class='block abs y x top left' src='/images/version-hero.webp' alt='no thanks to plastic' />
  </picture>
</div>

<div class='no-borders py1'>
  <div class='f jcb aist fw container--xl mxa'>
    <div class='split__text p1 al f jcb fdc x c50'>
      <div class='split__text-s ac alm'>
        <h2 class='cg m0 p0'>Site versioning</h2>
        <p class='s28 container--800-s split__text-versioning'>We’re free to use and were built with donated time: to move forward we need your help.<p>
      </div>
      <div class='split__text-s p1'>
        <img class='block x' src='/images/version-light.png' alt='broken light bulb illustration' />
      </div>
    </div>
    <div class='c50 split__text al p1'>
      <div class='pm2'>
        <h4 class='cg'>How to help</h4>
        <hr class='my1 my15m' />
        <h4 class=''>Donate code</h4>
        <p class='serif'>Take the code, put it in the website, shake it up, make more website</p>
        <a href='mailto:stuff@site.com' class='button ac mt1 caps'>Get in Contact</a>
        <hr class='my1 my2m' />
        <h4 class=''>Donate funding</h4>
        <p class='serif'>put money into a box, mail it no postage, no return. tell us how much money you sent us, we send chocolates</p>
        <a href='mailto:stuff@site.com' class='button ac mt1 caps'>Donate</a>
        <hr class='my1 my2m' />
      </div>
    </div>
  </div>
</div>


<div class='no-borders py1'>
  <div class='f jcb aist fw container--xl mxa'>
    <div class='split__text p1 al f jcb fdc x c50'>
      <div class='split__text-s ac alm'>
        <h2 class='cg m0 p0'>Add & audit listings</h2>
        <p class='s28 container--800-s split__text-versioning'>We need community members like you to help grow and approve our sources.<p>
      </div>
      <div class='split__text-s p1'>
        <img class='block x' src='/images/version-tv.png' alt='broken light bulb illustration' />
      </div>
    </div>
    <div class='c50 split__text al p1'>
      <div class='pm2'>
        <h4 class='cg'>How to help</h4>
        <hr class='my1 my15m' />
        <h4 class=''>Join GitHub and help approve new listings</h4>
        <p class='serif'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed velit ex, accumsan sit amet mi id, facilisis tempor turpis. In sodales eget odio nec pretium. In id justo lacus. Nullam pulvinar orci eget elit tempor sodales.</p>
        <a href='mailto:stuff@site.com' class='button ac mt1 caps'>Join the Repo</a>
        <hr class='my1 my2m' />
        <h4 class=''>Submit listings</h4>
        <p class='serif'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed velit ex, accumsan sit amet mi id, facilisis tempor turpis. In sodales eget odio nec pretium. In id justo lacus. Nullam pulvinar orci eget elit tempor sodales.</p>
        <a href='mailto:stuff@site.com' class='button ac mt1 caps'>Community Guidelines</a>
        <hr class='my1 my2m' />
      </div>
    </div>
  </div>
</div>


<div class='no-borders py1'>
  <div class='f jcb aist fw container--xl mxa'>
    <div class='split__text p1 al f jcb fdc x c50'>
      <div class='split__text-s ac alm'>
        <h2 class='cg m0 p0'>Help us use less</h2>
        <p class='s28 container--800-s split__text-versioning'>This site was designed to use less energy, and we’d like to reduce as much as we can.<p>
      </div>
      <div class='split__text-s p1'>
        <img class='block x' src='/images/version-trash.png' alt='broken light bulb illustration' />
      </div>
    </div>
    <div class='c50 split__text al p1'>
      <div class='pm2'>
        <h4 class='cg'>How to help</h4>
        <hr class='my1 my15m' />
        <h4 class='mb1'>What we're doing now</h4>
        <div class='ba p15 mb1 mt1 bcw'>
          <p class='serif s18 p0 m0'>
            <span class='italic'>Dithered images</span> reduces file size and brings the download per page down.
          </p>
        </div>
        <div class='ba p15 mb1 bcw'>
          <p class='serif s18 p0 m0'>
            <span class='italic'>System fonts are</span> reduces file size and brings the download per page down.
          </p>
        </div>
        <div class='ba p15 mb1 bcw'>
          <p class='serif s18 p0 m0'>
            <span class='italic'>Limited data fetching</span> means less external requests on servers, less cold starts, more data cached to save trees and your bandwidth
          </p>
        </div>
        <div class='ba p15 mb1 bcw'>
          <p class='serif s18 p0 m0'>
            <span class='italic'>No using phsyical materials</span> blewp
          </p>
        </div>
        <p class='serif s20'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed velit ex, accumsan sit amet mi id, facilisis tempor turpis. In sodales eget odio nec pretium. In id justo lacus. Nullam pulvinar orci eget elit tempor sodales.</p>
        <hr class='my1 my2m' />
      </div>
    </div>
  </div>
</div>


<div class='bt bcw'>
  <img class='block x' src='/images/version-thats-all-folks.png' alt="That's all Folks!" />
</div>

