---
title: Mission
layout: layouts/base.njk
---


<div class='bb800 bb rel pym' >
  <div class='outer p1 ac container--l py3 pym mxa rel z1 cw'>
    <h3 class='h1 mb05 pb0'>Calling in reinforcements</h3>
    <p class='s28 container--m mxa serif'>You’re currently experiencing Waste Not Version 1.0: This is where we lay out our plans so you can join in.</p>
  </div>
  <picture>
    <source type='image/webp' srcset='/images/version-hero.webp'>
    <img class='block abs y x obj-fit top left' src='/images/version-hero.webp' alt='no thanks to plastic' />
  </picture>
</div>

<div class='no-borders py1 text__animate' data-component='textAnimate'>
  <div class='f jcb aist fw container--xl mxa'>
    <div class='split__text p1 al f jcb fdc x c50'>
      <div class='split__text-s ac alm'>
        <h2 class='cg m0 p0'>Site versioning</h2>
        <p class='s28 container--800-s split__text-versioning'><p>
      </div>
      <div class='split__text-s p1'>
        <img class='block x' src='/images/version-light.png' alt='broken light bulb illustration' />
      </div>
    </div>
    <div class='c50 split__text text__animate-block al p1'>
      <div class='pm2'>
        <h4 class='cg'>How to help</h4>
        <hr class='my1 my15m' />
        <h4 class=''>Donate code</h4>
        <p class='serif s18'>Sustainability shouldn’t be a trade secret, so our code isn’t either – we're open-source and free to explore anytime. You can even volunteer with us to make your own impact: We've laid out our plans from a content hub for case studies and education, to improved search features, ideas around lessening our environmental load and a few other fun things.</p>
        <p class='serif s18'>This is Version 1.0: get in touch and we'll share our best laid plans for you to consider volunteering.</p>
        <a href='mailto:hello@wastenot.world' class='button ac mt1 caps'>Get in Contact</a>

      </div>
    </div>
  </div>
</div>


<div class='no-borders py1 text__animate' data-component='textAnimate'>
  <div class='f jcb aist fw container--xl mxa'>
    <div class='split__text p1 al f jcb fdc x c50'>
      <div class='split__text-s ac alm'>
        <h2 class='cg m0 p0'>Add & audit listings</h2>
        <p class='s28 container--800-s split__text-versioning'><p>
      </div>
      <div class='split__text-s p1'>
        <img class='block x' src='/images/version-tv.png' alt='broken light bulb illustration' />
      </div>
    </div>
    <div class='c50 split__text text__animate-block al p1'>
      <div class='pm2'>
        <h4 class='cg'>How to help</h4>
        <hr class='my1 my15m' />
        <h4 class=''>Join GitHub and help approve new listings</h4>
        <p class='serif s18'>When new listings get submitted, they get directed to our repository on GitHub, where you can double-check info and see if it meets the criteria. We've done this quite a few times ourselves .... and discovered that it's a fun to learn about sustainability by looking under the hood. Give it a try?</p>
        <a href='https://github.com/wastenotworld/site' class='button ac mt1 caps'>GO TO GITHUB</a>
        <hr class='my1 my15m' />
        <h4 class=''>Submit listings</h4>
        <p class='serif s18'>Know a great source? Share it! Everyone’s part makes our world whole. Get to know the basics on our guidelines and help others call in better reinforcements.</p>
        <a href='/contribution-guidelines/' class='button ac mt1 caps'>Community Guidelines</a>
        <hr class='my1 my2m' />
      </div>
    </div>
  </div>
</div>


<div class='no-borders py1 text__animate' data-component='textAnimate'>
  <div class='f jcb aist fw container--xl mxa'>
    <div class='split__text p1 al f jcb fdc x c50'>
      <div class='split__text-s ac alm'>
        <h2 class='cg m0 p0'>Help us use less</h2>
        <p class='s28 container--800-s split__text-versioning'>This site was designed to use less energy, and we’d like to reduce as much as we can.<p>
      </div>
      <div class='split__text-s p1'>
        <img class='block x' src='/images/version-trash.png' alt='broken light bulb illustration' />
      </div>
    </div>
    <div class='c50 split__text text__animate-block al p1'>
      <div class='pm2'>
        <h4 class='cg'>How to help</h4>
        <hr class='my1 my15m' />
        <h4 class='mb1'>What we're doing now</h4>
        <div class='ba p15 mb1 mt1 bcw'>
          <p class='serif s18 p0 m0'>
            <span class='italic'>Dithered images</span> reduce file size and brings the download per page down.
          </p>
        </div>
        <div class='ba p15 mb1 bcw'>
          <p class='serif s18 p0 m0'>
            <span class='italic'>System fonts</span> are already installed on your machine, which means we don't have to load any font files. This brings the download per page down.
          </p>
        </div>
        <div class='ba p15 mb1 bcw'>
          <p class='serif s18 p0 m0'>
            <span class='italic'>Limited data fetching</span> means less external requests on servers, less cold starts, more data cached to save trees and your bandwidth.
          </p>
        </div>
        <div class='ba p15 mb1 bcw'>
          <p class='serif s18 p0 m0'>
            <span class='italic'>Not using phsyical materials</span> means that Waste Not is recieptless and conducted online. We also like to ride our bicycles to work :)
          </p>
        </div>
        <p class='serif s20'></p>
        <hr class='my1 my2m' />
      </div>
    </div>
  </div>
</div>


<div class='bt bcw'>
  <img class='block x' src='/images/version-thats-all-folks.png' alt="That's all Folks!" />
</div>

