---
title: Websites | Spaghetti Directory
description: all the best spaghetti websites
layout: layouts/base.njk
pagination:
  alias: project
  data: projects
  size: 30
---

<div class='projects mt1 pt1 fw f jcb aic'>
  {%- for project in pagination.items %}
    <div class='projects--single mb1 x col-4'>
      <a class='projects--single_image block x ba' href='/projects/{{ project.content.main.slug.current | slug }}/'>
        <img class='block image x' data-component='image' data-src="{{project.image.url}}?h=300" alt="{{project.cotent.main.name}}" />
      </a>
      <div>
        <span>
          <a href='/projects/{{ project.content.main.slug.current | slug }}/'>{{ project.content.main.name  }}</a>
          {% if project.content.main.url %}<a class='' href='{{ project.content.main.url }}' target='_blank'>⬀</a>{% endif %}
        </span>
      </div>
    </div>
  {% endfor -%}
  <div class=' x col-4'></div>
  <div class=' x col-4'></div>
</div>

{% if pagination.pageLinks.length > 1 %}
  <nav class='mt1 f jcc aic'>
    <div class='mr1'>
      {% if pagination.previousPageLink %}
        <a class="" href="{{ pagination.previousPageHref | url }}">← Newer</a>
      {% else %}
        <span class="text-grey">← Newer</span>
      {% endif %}
    </div>
    <div class='ml1'>
      {% if pagination.nextPageLink %}
        <a class="" href="{{ pagination.nextPageHref | url }}">Older →</a>
      {% else %}
        <span class="text-grey">Older →</span>
      {% endif %}
    </div>
  </nav>
{% endif %}