---
layout: layouts/base.njk
templateClass: tmpl-pro
renderData:
  title: "{{category.content.main.name}}"
---


<div class='f jcb aist category__header rel bb'>
  <div class='container--xl mxa f jcb aist x'>
    <div class='category__header-browse rel z1 al bcg cw f jcs aic'>
      <span class='s18'>Browse by category:</span>
    </div>
    <div class='category__header-links z1 arrow-helper x al rel px1 py05'>
      <span class='block s28'>{{category.content.main.name}}</span>
    </div>
  </div>
</div>

<div class='f category__content fw jcb ais container--xl mxa'> 
  <div class='x category__filters'>
    <div class='category__filters-inner x p1 al bcw ba'>
      <span class='s18'>Filter</span>
    </div>
  </div>
  <div class='mt1 category__list x p1'>
    {% for listing in category.content.listings %}
      {% include 'listing-card.njk' %}
    {% endfor %}
  </div>
</div>