---
layout: layouts/base.njk
templateClass: tmpl-listing
renderData:
  title: "{{listing.content.main.name}}"
---

{% set title = listing.content.main.name %}

<div class='bcy p1 bb'>
  <p class='m0 p0'>You've been shared a listing from Waste Not: a simple. searchable index of sustainable materials and suppliers.</p>
</div>

<div class='listing__landing bclg py1 bb'>
  <div class='container--l mxa'>
    {% include 'listing-card.njk' %}
  </div>
</div>
