.category {
  &__header {
    @media (min-width: 1000px) {
      &:before {
        left: 0;
        width: 30%;
        height: 100%;
        content: '';
        position: absolute;
        background-color: var(--green);
      }
      &:after {
        width: 70%;
        right: 0;
        height: 100%;
        position: absolute;
        background-color: var(--litegreen);
        content: '';
      }
    }
    &-browse {
      display: none;
      @media (min-width: 1000px) {
        display: flex;
        padding-left: 2rem;
        width: 30%;
        border-right: 1px solid black;
        span {
          position: relative;
          top: 3px;
        }
      }
    }
    &-links {
      @media (min-width: 1000px) {
        /* padding: 1rem; */
        width: 70%;
        /* padding-left: 2rem; */
        background-color: var(--litegreen);
        span {
          position: relative;
          top: 2px;
        }
        .edd-root {
          max-width: 100%;
          display: block;
        }
        .edd-head {
          background-color: transparent;
          border: none;
        }
        .edd-value {
          border-right: none;
        }
        .edd-arrow {
          display: none;
        }
      }
    }
  }
  &__filters {
    @media (min-width: 1000px) {
      width: calc(30% - 30px);
      margin-top: 1rem;
      &-inner {
        padding: 0.5rem;
      }
    }
  }

  &__list {
    @media (min-width: 1000px) {
      width: 70%;
    }
  }
  &__content {
    @media (min-width: 1000px) {
      padding: 3rem 1.5rem;
    }
  }
  &__empty {
    &-text {
      max-width: 400px;
      padding: 2rem 1rem;
      a {
        margin-top: 14px;
      }
    }
    &-image {
      max-width: 540px;
      position: relative;
      top: -80px;
    }
  }
}