.contributions {
  &__text {
    @media (min-width: 900px) {
      width: 50%;
      margin-bottom: 4rem;
    }
    &-disc {
      margin-top: 2rem;
      margin-bottom: 3rem;
      @media (min-width: 1100px) {
        display: flex;
        svg {
          width: 80px;
          height: auto;
          margin-top: 20px;
        }
        p {
          width: calc(100% - 100px);
          margin-left: 20px;
          text-align: left;
        }
      }
      .spin {
        animation: spin 10s linear infinite;
      }
      .no-spin {
        left: 0px;
      }
    }
    @media (min-width: 1100px) {
      width: calc(100% - 600px);
    }
    @media (min-width: 1400px) {
      width: calc(100% - 43vw);
    }
  }
  &__toggle {
    &-content {
      @media (min-width: 600px) {
        width: 90%;
      }
    }
  }
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
