.home {
  &__thanks {
    &-bag {
      width: 80%;
      max-width: 400px;
      opacity: 0;
      transition: all 0.3s ease-in-out;
      transform: translateY(10px);
      transition-delay: 0.5s;
      &.show {
        opacity: 1;
        transform: translateY(0px);
      }
    }
  }
}