.footer {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  @media (min-width: 1400px) and (min-height: 800px) {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: none;
  }
  &__credits {
    opacity: 0;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    user-select: none;
    pointer-events: none;
    &.open {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      user-select: auto;
    }
  }
  &__main {
    @media (min-width: 1400px) {
      width: 54%;
      .footer__inner {
        margin: 0 0;
      }
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }
  }
  &__block {
    @media (min-width: 800px) {
      padding-top: 3rem;
      padding-bottom: 3rem;
      border-bottom: none;
    }
    &-wrapper {
      @media (min-width: 1800px) {
        display: flex;
        > div {
          width: 40%;
          &:last-child {
            width: 60%;
          }
        }
      }
    }
  }
  &__inner {
    max-width: 522px;
    @media (min-width: 1200px) {
      max-width: 800px;
    }
  }
  &__logo {
    > div {
      max-width: 522px;
      @media (min-width: 800px) {
        margin: 0;
      }
    }
  }
  &__description {
    max-width: 460px;
    @media (min-width: 1000px) {
      margin: 0 0;
    }
  }
  &__links {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    li {
      margin: 0;
      padding: 0;
      width: 33.3333%;
    }
    @media (min-width: 1200px) {
      margin-top: 3.1rem;
    }
    a {
      transition: all 0.3s ease-in-out;
    }
    a:hover {
      color: var(--green);
    }
  }
  .newsletter {
    border-top: 1px solid black;
    margin: 0 auto;
    @media (min-width: 800px) {
      border-top: 0;
      margin: 0;
    }
    @media (min-width: 1400px) {
      width: 40%;
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
    input {
      border: none;
      color: currentColor;
      width: 100%;
      margin-top: 20px;
      border-bottom: 1px solid currentColor;
    }
    button {
      border: 1px solid currentColor;
      color: currentColor;
      font-size: 17px;
      font-weight: 500 !important;
      padding: 0.8rem 2rem 0.6rem;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      letter-spacing: 0.04em;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      cursor: pointer;
      &:hover {
        background-color: var(--white);
      }
    }
    @media (min-width: 800px) {
      border-left: 1px solid black;
    }
  }
  &__logo {
    svg {
      width: 100%;
      height: auto;
    }
  }
  &__illy {
    @media (min-width: 800px) {
      max-width: 420px;
    }
  }
  &__credits {
    img {
      max-width: 300px;
    }
    p {
      line-height: 1.9;
    }
  }
}