.h {
  &__listings {
    margin: 2rem 0;
    @media (min-width: 800px) {
      margin: 3rem 0;
    }
    &-rotate {
      transform: rotate(-4deg);
      margin: 1rem auto;
      max-width: 300px;
      @media (min-width: 800px) {
        margin: 2rem auto 3rem;
      }
    }
    &-sun {
      max-width: 140px;
      right: -60px;
      top: 10px;
      @media (min-width: 400px) {
        max-width: 180px;
        top: -10px;
      }
      @media (min-width: 600px) {
        max-width: 200px;
        top: -50px;
      }
      @media (min-width: 800px) {
        max-width: 300px;
        right: -100px;
        top: -80px;
      }
      @media (min-width: 1000px) {
        right: -140px;
        max-width: 340px;
      }
    }
  }
}