.header {
  width: calc(100vw);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  height: 64px;
  &__logo {
    max-width: 226px;
    position: relative;
    top: 3px;
    svg {
      width: 100%;
      height: auto;
    }
  }
  &__nav {
    list-style-type: none;
    display: none;
    @media (min-width: 800px) {
      display: flex;
    }
  }
  &__inner {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    @media (min-width: 800px) {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
  &__mobile {
    padding-top: 2rem;
    border-bottom: 1px solid black;
    transition: all 0.3s ease-in-out;
    transform: translateY(-6px);
    opacity: 0;
    user-select: none;
    visibility: hidden;
    pointer-events: none;
    &.open {
      opacity: 1;
      transform: translateY(0px);
      user-select: auto;
      pointer-events: auto;
      visibility: visible;
    }
    &-link {
      border-bottom: 1px solid black;
      &:last-child {
        border-bottom: none;
      }
    }
  }
  &__nav {
    &-dots {
      border: 1px solid black;
      background-color: var(--green);
      width: 11px;
      height: 11px;
      border-radius: 50%;
    }
    &-toggle {
      border: none;
      background-color: transparent;
      width: 26px;
      height: 26px;
      transition: all 0.3s ease-in-out;
      transform-origin: center;
      &.open {
        transform: rotate(90deg);
      }
      @media (min-width: 800px) {
        display: none;
      }
    }
  }
}