.hero {
  min-height: 600px;
  height: 100vh;
  max-height: 800px;
  &__image {
    object-fit: cover;
    object-position: center center;
  }
  &__inner {
    padding-top: 80px;
    p {
      max-width: 660px;
    }
    @media (min-width: 800px) {
      p {
        margin-bottom: 3rem;
      }
      padding-top: 100px;
    }
  }
  h1, p, .ss-main  {
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.3s ease-in-out;
  }
  p {
    transition-delay: 0.2s;
  }
  .ss-main {
    transition-delay: 0.4s;
  }
  &.is-visible {
    h1, p, .ss-main {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}