.listing {
  &__badge {
    @media (min-width: 1000px) {
      position: absolute;
      right: 1.5rem;
      top: 0;
    }
  }
  &__landing {
    padding: 3.2rem 0 0.5rem;
    @media (min-width: 700px) {
      padding: 5.2rem 0 5rem;
    }
  }
  &__source {
    &-mobile {
      display: none;
    }
    &-desktop {
      order: 4;
      right: 14px;
      top: 55px;
      max-width: 40%;
      display: none;
      border: 1px solid black;
      border-top: none;
      overflow: hidden;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }
    &-form {
      button {
        min-width: auto;
      }
      select {
        appearance: none;
      }
    }
    &-ticket {
      > div {
        margin-top: -3px;
      }
    }
  }
  &__expand {
    display: none;
    .open & {
      display: flex;
    }
    &-open {
      .open & {
        display: none;
      }
      @media (min-width: 700px) {
        padding-right: 20px;
      }
    }
    @media (min-width: 800px) {
      flex-wrap: nowrap;
      border-top: 1px solid black;
    }
    &-name {
      border-bottom: 1px solid black;
      padding-bottom: 14px;
      &-l {
        display: block;
        @media (min-width: 800px) {
          display: inline;
        }
      }
      @media (min-width: 800px) {
        width: 40%;
        padding-bottom: 0;
        border-bottom: none;
      }
    }
    &-source {
      border: none;
      transition: all 0.3s ease-in-out;
      &:hover {
        svg {
          fill: white;
        }
      }
      @media (min-width: 800px) {
        position: absolute;
        right: 14px;
        top: -80px;
      }
    }
    &-link {
      width: 50%;
      border-right: 1px solid black;
      a {
        transition: all 0.3s ease-in-out;
        &:hover {
          background-color: var(--blue);
        }
      }
      @media (min-width: 800px) {
        width: 30%;
        border-left: 1px solid black;
      }
    }
    &-share {
      width: 30%;
      border-right: 1px solid black;
      @media (min-width: 800px) {
        width: 18%;
      }
    }
    &-a {
      padding: 1.4rem;
    }
    &-close {
      width: 20%;
      @media (min-width: 800px) {
        width: 10%;
      }
    }
  }
  &__card {
    border: 1px solid black;
    border-radius: 20px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    &.hide-qty {
      display: none;
    }
    &.hide-filter {
      display: none;
    }
    @media (min-width: 1000px) {
      max-width: 940px;
    }
    &-country {
      padding-left: 1rem;
      @media (min-width: 700px) {
        width: 200px;
        border: 1px solid black;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        position: absolute;
        height: calc(100% + 2px);
        top: -1px;
        right: -1px;
        span {
          position: relative;
          top: 2px;
          left: 7px;
        }
      }
    }
    &-add {
      &-wrapper {
        margin-top: 1.6rem;
      }
      &-tag {
        min-width: 60px;
      }
      &.hide-open {
        display: none;
        .open & {
          display: flex;
        }
      }
    }
    &-title {
      padding: 0.7rem 1rem 0.4rem;
      @media (min-width: 700px) {
        width: auto;
        padding-left: 20px;
      }
    }
    &-description {
      order: 2;
      margin-top: 8px;
      @media (min-width: 700px) {
        margin-top: 0;
        width: calc(50%);
        max-width: 460px;
        margin-left: 14px;
        margin-right: 14px;
        > div {
          max-width: 340px;
        }
      }
      @media (min-width: 800px) {
        .open.source & {
          order: 4;
          width: 64%;
          margin: 10px 0;
        }
      }
    }
    &-content {
      @media (min-width: 700px) {
        flex-wrap: nowrap;
        padding: 20px;
      }
      @media (min-width: 800px) {
        .open.source & {
          width: 58%;
          flex-wrap: wrap;
          min-height: 570px;
        }
      }
    }
    &-tags {
      width: calc(50% - 10px);
      order: 1;
      ul {
        margin-left: 0;
        padding-left: 0;
      }
      li {
        list-style-type: none;
        padding-left: 0;
        margin-left: 0;
        border-bottom: 1px solid black;
        &:last-child {
          border-bottom: none;
        }
      }

      @media (min-width: 700px) {
        order: 3;
        width: 160px;
        li {
          padding: 4px 0;
        }
      }
    }
    &-image {
      order: 1;
      width: calc(50% - 10px);

      @media (min-width: 700px) {
        max-width: 250px;
        .open & {
          max-width: 340px;
        }
        .open.source & {
          width: 64%;
        }
      }
    }
  }
}

.listing__card.source {
  .listing__source-mobile {
    display: block;
    @media (min-width: 800px) {
      display: none;
    }
  }
  .source-open-hide {
    display: none;
    @media (min-width: 800px) {
      display: flex;
    }
  }
  .listing__source-desktop {
    @media (min-width: 800px) {
      display: block;
    }
  }
}