.split {
  &__sticky {
    &-image {
      padding: 4rem 2rem;
      border-bottom: 1px solid black;
      @media (min-width: 900px) {
        width: 50%;
        max-width: 580px;
        height: 100vh;
        position: sticky;
        top: 60px;
        bottom: 0;
        border-bottom: 0;
        border-right: 1px solid black;
        img { height: 104%; }
      }
      @media (min-width: 1100px) {
        width: 580px;
      }
      @media (min-width: 1400px) {
        width: 40vw;
        max-width: 40vw;
      }
      .submit & {
        object-position: bottom center;
      }
    }
  }
  &__text  {
    li {
      list-style-type: none;
      margin-left: 20px;
      position: relative;
      &:before {
        width: 12px;
        height: 12px;
        left: -22px;
        top: 13px;
        background-color: var(--green);
        position: absolute;
        border-radius: 50%;
        content: '';
        @media screen and (min-width: 800px) {
          top: 10px;
          lefT: -28px;
          width: 16px;
          height: 16px;
        }
      }
    }
    &-versioning {
      width: 80%;
      margin: 2rem auto;
      @media (min-width: 800px) {
        margin: 1rem 0;
      }
    }
    @media (min-width: 800px) {
      text-align: left;
      border-right: 1px solid black;

      &-inner {
        max-width: 600px;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }
    }
    &-s {
      img {
        width: 80%;
        margin: 0 auto;
      }
      @media (min-width: 800px) {
        max-width: calc(588px - 2rem);
        padding: 2rem;
        margin-top: 2rem;
        &:last-child {
          margin-right: 0;
          margin-left: auto;
          margin-bottom: 2rem;
          margin-top: 0;
        }
        .no-borders & {
          max-width: calc(588px);
          margin-top: 0;
        }
        img {
          max-width: 400px;
          max-height: 400px;
          width: auto;

        }
      }
    }
    &-mish {
      @media (min-width: 800px) {
        /* height: 100vh; */
        /* max-height: 800px; */
      }
    }
    &-illy {
      max-width: 560px;
      padding: 2rem;
      @media (min-width: 800px) {
        padding-top: 5rem;
        padding-bottom: 5rem;
      }
    }
    .no-borders & {
      border: 0;
    }
  }
  &__wrapper {
    @media (min-width: 800px) {
      border-top: 1px solid black;
    }
  }
}