.user {
  min-height: 70vh;
  h1 {
    padding-bottom: 20px;
    @media (min-width: $mid) {
      padding-bottom: 40px;
    }
  }
  &__friends {
    display: none;

    @media (min-width: $mid) {
      display: block;
      width: 30%;
      padding: 1.5rem;
      margin-right: 10px;
      margin-top: 22px;
      &-active {
        width: 64%;
      }
    }
  }
}