<div class='x category__filters' data-component='filters'>
  <div class='category__filters-wrapper'>
    <div class='category__filters-inner x p1 al bcw '>
      <span class='s18'>Filter</span>
      <div class='category__filters-group js-check-filters al mt1'>
        <div>
          <input type="checkbox" id="biodegradable" name="biodegradable" value='biodegradable'>
          <label for="biodegradable">Biodegradable</label>
        </div>
        <div>
          <input type="checkbox" id="compostable" name="compostable" value='compostable'>
          <label for="compostable">Compostable</label>
        </div>
        <div>
          <input type="checkbox" id="home-compostable" name="home-compostable" value='home-compostable'>
          <label for="home-compostable">Home Compostable</label>
        </div>
        <div>
          <input type="checkbox" id="renewed-material" name="renewed-material" value='renewed-material'>
          <label for="renewed-material">Renewed Material</label>
        </div>
        <div>
          <input type="checkbox" id="bio-based" name="bio-based" value='bio-based'>
          <label for="bio-based">Bio Based</label>
        </div>
        <div>
          <input type="checkbox" id="dissolvable" name="dissolvable" value='dissolable'>
          <label for="dissolvable">Dissolvable</label>
        </div>
        <div>
          <input type="checkbox" id="recyclable" name="recyclable" value='recyclable'>
          <label for="recyclable">Recyclable</label>
        </div>
      </div>
    </div>
    <div class='category__filters-inner x p1 al bcw '>
      <span class='s18'>Quantities</span>
      <div class='category__filters-group js-quantites al mt1'>
        <div>
          <input type="radio" name='quantities' id="low" value="low">
          <label for="low">Low minimums</label>
        </div>
        <div>
          <input type="radio" name='quantities' id="mixed" value="mixed">
          <label for="mixed">Mixed minimums</label>
        </div>
        <div>
          <input type="radio" name='quantities' id="high" value="high">
          <label for="high">High minimums</label>
        </div>
        <div>
          <input checked type="radio" name='quantities' id="show-all" value="show-all">
          <label for="show-all">Show all</label>
        </div>
      </div>
    </div>
    <div class='category__filters-inner rel z2 x p1 al bcw '>
      <span class='s18'>Origin</span>
      
    </div>
  </div>
  <div class='bcw brad'>
    <div class='category__filters-group  pb05 al'>
        <div>
          <select id="multiple" multiple>
            <option style='background-color: #B6DAFE' value="china">China</option>
            <option style='background-color: #B5D9FF' value="new-zealand">New Zealand</option>
            <option value="vietnam">Vietnam</option>
            <option style='background-color: #F3F0CF' value="italy">Italy</option>
            <option style='background-color: #C5EAFF' value="canada">Canada</option>
            <option style='background-color: #8DDF7F' value="spain">Spain</option>
            <option style='background-color: #8CEFBF' value="netherlands">Netherlands</option>
            <option style='background-color: #F6EF73' value="usa">USA</option>
          </select>
        </div>
      </div>
  </div>
    <button class='category__filters-mobile rel z1 s18 js-filter-toggle bcg x p1 cw al p1'>
      Filter
  </button>
</div>