<div class='x category__filters'>
  <div class='category__filters-inner x p1 al bcw ba'>
    <span class='s18'>Filter</span>
    <div class='category__filters-group al mt1'>
      <fieldset>
        <div>
          <input type="checkbox" id="biodegredable" name="biodegredable">
          <label for="biodegredable">Biodegredable</label>
        </div>
        <div>
          <input type="checkbox" id="compostable" name="compostable">
          <label for="compostable">Compostable</label>
        </div>
        <div>
          <input type="checkbox" id="home-compostable" name="home-compostable">
          <label for="home-compostable">Home Compostable</label>
        </div>
        <div>
          <input type="checkbox" id="renewed-material" name="renewed-material">
          <label for="renewed-material">Renewed Material</label>
        </div>
        <div>
          <input type="checkbox" id="bio-based" name="bio-based">
          <label for="bio-based">Bio Based</label>
        </div>
        <div>
          <input type="checkbox" id="bio-based" name="bio-based">
          <label for="bio-based">Bio Based</label>
        </div>
      </fieldset>
    </div>
  </div>

</div>