<footer class='f jcb fw rel aist alt js-alt  bcw footer' data-component='footer'>
  <div class='x c50 footer__main'>
    <div class='x p15 bb footer__block footer__logo'>
      <div class='footer__inner footer__logo mxa cg'>
        {% include 'logo.njk' %}
      </div>
    </div>
    <div class='footer__block-wrapper'>
      <div class='al p15 bb footer__block'>
        <div class='footer__inner footer__description mxa'>
          <span class='caps'>WN V1.0 {{ site.buildTime | dateDisplay('LLL d, yyyy - HH:mm') }}</span>
          <p class='s28 bold'>
            Waste Not is a free website. You're currently experiencing <a href='' class='cg'>Version 1.0</a>
          </p>
          <a href='' class='button caps'>Versioning &amp; How to Support</a>
        </div>
      </div>
      <div class='p15 al footer__block'>
        <div class='footer__inner mxa'>
          <ul class='footer__links m0 p0 f fw jcb'>
            <li><a class='s28 mb05' href='/listings'>Listings</a></li>
            <li><a class='s28 mb05' href='mailto:help@site.com'>Contact</a></li>
            <li><a class='s28 mb05' href=''>Instagram</a></li>
            <li><a class='s28 mb05' href='/mission'>Mission</a></li>
            <li><a class='s28 mb05' href='/contribution-guidelines'>Guidelines</a></li>
            <li><a class='s28 mb05' href=''>Twitter</a></li>
            <li><a class='s28 mb05' href='/submit'>Submit</a></li>
            <li><a class='s28 js-credit-open' href=''>Credits</a></li>
            <li><a class='s28 ' href=''>Github</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class='ac c50 p15 newsletter rel' data-component="form">
    <div class='footer__credits f jcc aic js-credits bcg abs x y left top z1'>
      <div class='al p15 footer__credits-inner mxa'>
        <p class='s18'>Created and designed by <a href='https://michellemattar.com' class='underline' target='_blank'>Michelle Mattar</a><br />
          Developed by <a href='https://kevingreen.sucks' class='underline' target='_blank'>Kevin Green</a>
        </p>
        <p class='s18'>
          Illustrations create with <a href='http://www.johnnydombrowski.com/' target='_blank' class='underline'>Johnny Dombrowski</a><br />
          Photography created with <a href='http://www.evanrobinson.com/' target='_blank' class='underline'>Evan Robinson</a><br />
          Fonts: Helvetica & Times New Roman.
        </p>
        <img class='x my1' src='/images/listing-homies.png' alt='Homies' />
        <h3 class='s28'>Waste Not is run as part of <a href='https://hipractice.com' class='cw' target='_blank'>Practice.</a></h3>
      </div>
    </div>
    <div class='footer__inner py1 mxa'>
      <img class='x footer__illy mxa' src='/images/trashcan-illustration.webp' alt='trashcan newsletter' />
      <span class='s28 mt1 block pt05'>Subscribe to the <span class='cg'>Trash Talk</span> newsletter</span>
      <p class=''>Not junk mail; Just profiles on suppliers, materials, innovators and more.</p>
      <form class="newsletter__form rel">
        <input required class=" x py05 serif s22 container--s" type="email" name="email" placeholder='Email' />
        <button type="submit" class="caps bcp abs bold bottom right">
          <span>Submit</span>
        </button>
      </form>
      <div class='h3 hidden js-spaghetti' style='margin-top: 1.5rem;'>
        Got it!
      </div>
    </div>
  </div>
</footer>
