<header class='header fix x p0 m0 z4 f jcc aic left top bcw'>
  <div class='p05 px15 x header__inner'>
    <div class='nav f jcb rel aic'>
      <div>
        <a class='caps header__logo' href='/'>
          {% include 'logo.njk' %}
        </a>
      </div>
      <ul class="f jcs aic header__nav">
        <li class='mr1'>
          <a href="/listings" class='bold'>Listings</a>
        </li>
        <li class='ml1 mr1'>
          <a href="/mission" class='bold'>Mission</a>
        </li>
        <li class='ml1'>
          <a href="/submit" class='bold'>Submit</a>
        </li>
      </ul>
    </div>
  </div>
</header>
