<div class='listing__card mb1 bcw rel' data-component='listingCard'>
  <div class='listing__card-header f fw jcb rel aic bb'>
    <div class='p05 x al listing__card-title '>
      <a class='s28' href='/listing/{{ listing.content.main.slug.current | slug }}/'>{{ listing.content.main.name  }}</a>
    </div>
    <div class='py05 caps al s13 bt x f jcs aic listing__card-country' style="background-color: {{listing.content.main.origin.color.hex}}">
      <span>
        Origin: {{listing.content.main.origin.title}}
      </span>
    </div>
  </div>
  <div class='listing__card-content al p1 f fw jcb'>
    <div class='listing__card-image x'>
      <picture>
        <source
          srcSet='{{listing.content.main.image.url}}?w=800&auto=format&q=75'
          media="(min-width: 1000px)"
        />
        <source
          srcSet='{{listing.content.main.image.url}}?w=600&auto=format&q=75'
          media="(min-width: 600px)"
        />
        <img
          alt={item.image.alt}
          src='{{listing.content.main.image.url}}?w=400&auto=format'
          class="x block ba"
        />
      </picture>
    </div>
    <div class='listing__card-description s16 x'>
      <div class='serif'>
        {{listing.description}}
      </div>
      <div class='mt1 sans listing__card-add-wrapper'>
        <div class='listing__card-add f jcs ais'>
          <span class='s13 caps mr1 listing__card-add-tag'>QTYS</span> <span class='bold s14'>{% qtys listing.content.main.qtys %}</span>
        </div>
        <div class='listing__card-add f jcs ais hide-open'>
          <span class='s13 caps mr1 listing__card-add-tag'>City</span> <span class='bold s14'>{{ listing.content.main.location }}</span>
        </div>
        <div class='listing__card-add f jcs ais hide-open'>
          <span class='s13 caps mr1 listing__card-add-tag'>Tags</span> <span class='bold s14'>
            {% for tag in listing.content.main.tags %}
              {{tag.title}}{% if loop.index !== loop.length %},{% endif %}
            {% endfor %}
          </span>
        </div>
      </div>
    </div>
    <div class='listing__card-tags x'>
      <ul>
        {% for material in listing.content.main.material %}
          <li class='serif s16 capitalize'>{{material}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class='listing__expand-open abs right bottom p1'>
    <button class='naked js-expand-open'>
      <svg class='block' width="22" height="22" viewBox="0 0 22 22" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M19.1662 1.79601C19.306 1.65617 19.2619 1.53104 19.0632 1.53104L12.9762 1.45008C12.0047 1.43536 11.99 -0.0146092 12.9541 0.000111329L20.9915 0.0516331C21.5068 0.0516331 21.9189 0.471167 21.9263 0.979024L21.9999 9.04585C22.0146 10.01 20.5646 9.99533 20.5499 9.02377L20.469 2.93685C20.469 2.73076 20.3438 2.6866 20.204 2.83381L2.83381 20.204C2.6866 20.3512 2.73076 20.469 2.93685 20.469L9.02377 20.5499C9.98797 20.5646 10.01 22.0146 9.04585 21.9999L1.00847 21.941C0.493248 21.941 0.081074 21.5215 0.0737138 21.0136L0.000111329 12.9541C-0.0146092 11.99 1.43536 12.0047 1.45008 12.9762L1.53104 19.0632C1.53104 19.2692 1.65617 19.3134 1.79601 19.1662L19.1662 1.79601Z" fill="black"/>
      </svg>
    </button>
  </div>
  <div class='listing__expand f fw jcb aist'>
    <div class='listing__expand-name x f jcb aic px1'>
      <div class='al'>
        {% if listing.supplier %}
          <span class='s14 sm16'>{{listing.supplier.content.main.name}}</span>
          <span class='listing__expand-name-l s14 sm16'><a class='cg' href='/manufacturer/{{listing.supplier.content.main.slug.current}}'>{{listing.supplier.content.main.listings.length}} listings</span>
        {% endif %}
      </div>
      <div class='listing__expand-source'>
        {% include 'opensource.njk'  %}
      </div>
    </div>
    <div class='listing__expand-link'>
      <a href='{{listing.content.main.url}}' target='_blank' class='bcg caps s14 sm16 listing__expand-a block x p1'>Visit Website</a>
    </div>
    <div class='listing__expand-share'>
      <a href='' class='p1 x caps s14 sm16 listing__expand-a block'>Share</a>
    </div>
    <div class='px1 f jcc aic listing__expand-close'>
      <button class='naked js-expand-open'>
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M10.812 14.1157C10.8045 13.599 10.3852 13.1797 9.86099 13.1722L1.68377 13.1197C0.702802 13.1048 0.717779 14.58 1.70623 14.5949L7.89906 14.6773C8.10124 14.6773 8.15366 14.7971 8.00389 14.9469L0.216062 22.7347C-0.0684939 23.0193 -0.0610038 23.4836 0.23104 23.7756C0.523084 24.0676 0.987357 24.0751 1.27191 23.7906L9.05974 16.0027C9.20951 15.853 9.32932 15.8979 9.32932 16.1076L9.41169 22.3004C9.42667 23.2814 10.9019 23.3038 10.8869 22.3229L10.812 14.1157ZM13.1858 9.8848C13.1933 10.4015 13.6126 10.8208 14.1368 10.8283L22.314 10.8807C23.295 10.8957 23.28 9.42053 22.2916 9.40555L16.0987 9.32318C15.8966 9.32318 15.8441 9.20337 15.9939 9.0536L23.7892 1.26577C24.0738 0.981212 24.0663 0.516937 23.7743 0.224894C23.4822 -0.0671501 23.0179 -0.0746384 22.7334 0.209917L14.9455 7.99775C14.7958 8.14752 14.676 8.10259 14.676 7.89291L14.5936 1.70009C14.5786 0.719121 13.1034 0.696656 13.1184 1.67762L13.1858 9.8848Z" fill="black"/>
        </svg>
      </button>
    </div>
  </div>
</div>