<div class='fix z8 x y top left f jcb al fdc bcob screensaver' data-component='screensaver'>
  <div class='container al mxa screensaver__inner rel x mt1 pt1 f fdc jcb cw y '>
    <div class='screensaver__logo o6'>
      {% include 'logo.njk' %}
    </div>
    <div class='screensaver__bulb'>
      <picture class='x'>
        <source type='image/webp' srcset='/images/screensaver_bulb.webp' />
        <img src='/images/screensaver_bulb.png' class='x' alt='screensaver bulb' />
      </picture>
    </div>
    <p class='serif  o6 s28'>Looks like you stepped away from your<br />screen. We’ve gone dark to save energy.</p>
  </div>
</div>